/* -------------------------------------------------------------------------- */
/*                                   utility                                  */
/* -------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.cf::after {
  content: "";
  clear: both;
  display: table;
}

/* -------------------------------------------------------------------------- */
/*                               general styles                               */
/* -------------------------------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

button {
  background-color: #f79643;
  color: white;
  font-weight: 700;
  font-size: 1.7rem;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */

header {
  background-color: #707070;
  height: 150px;
}

.header-content {
  margin: auto calc(15% - 20px);
  overflow: auto;
}

header img {
  float: left;
  padding: 10px;
  margin-left: -10px;
}

/* ----------------------------------- nav ---------------------------------- */

nav {
  text-align: right;
}

nav ul {
  padding: 0;
  margin: 0;
  height: 150px;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  line-height: 150px;
  padding-left: 40px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

/* -------------------------------------------------------------------------- */
/*                                    hero                                    */
/* -------------------------------------------------------------------------- */

.hero {
  background-color: #f1f1f1;
  margin: 0px;
  padding: 40px;
}

.hero-content {
  margin: auto calc(15% - 50px);
  overflow: auto;
}

.hero h1 {
  margin: 0px;
  padding-top: 20px;
}

.hero img {
  float: right;
  padding-left: 40px;
  width: 60%;
  height: auto;
}

/* -------------------------------------------------------------------------- */
/*                                  projects                                  */
/* -------------------------------------------------------------------------- */

.projects {
  background-color: white;
  padding: 40px 40px 80px 40px;
}

.projects-content {
  margin: auto calc(15% - 50px);
  overflow: auto;
}

.projects h2 {
  padding-top: 40px;
}

/* ---------------------------------- cards --------------------------------- */

article {
  display: inline-block;
  width: 30%;
  font-size: 1.6rem;
  text-align: left;
}

article img {
  width: 100%;
  height: auto;
}

/* css trickery to get equidistant spacing between inline-block elements */

.article-container {
  text-align: justify;
  font-size: 0;
}

.article-container:after {
  content: "";
  width: 100%;
  display: inline-block;
}

/* -------------------------------------------------------------------------- */
/*                                  prefooter                                 */
/* -------------------------------------------------------------------------- */

.prefooter {
  background-color: #707070;
  padding: 60px;
  color: white;
}

.prefooter-content {
  margin: auto calc(15% - 50px);
  overflow: auto;
}

.prefooter ul {
  padding: 0;
  list-style-type: none;
}

/* ---------------------------------- news ---------------------------------- */

.news {
  float: left;
  width: 30%;
  padding-right: 20px;
}

.news li h4 {
  margin-top: 30px;
  margin-bottom: 0;
}

.news li p {
  margin: 0;
}

/* ---------------------------------- about --------------------------------- */

.about {
  float: left;
  width: 55%;
}

.about p {
  padding-right: 100px;
}

/* --------------------------------- follow --------------------------------- */

.follow {
  float: right;
  width: 15%;
}

.follow li {
padding: 10px 0;
}

.follow li a {
  color: white;
  text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */

