/* -------------------------------------------------------------------------- */
/*                                   utility                                  */
/* -------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.cf::after {
  content: "";
  clear: both;
  display: table;
}

/* -------------------------------------------------------------------------- */
/*                               general styles                               */
/* -------------------------------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
  color: #212121;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

button {
  background-color: #ffa726;
  color: #fafafa;
  font-weight: 700;
  font-size: 1.7rem;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

button:hover {
  background-color: #ffcc80;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */

header {
  background-color: #455a64;
}

header img {
  float: left;
  padding: 10px;
  margin-left: -10px;
}

/* ----------------------------------- nav ---------------------------------- */

nav {
  margin: auto calc(15% - 20px);
  overflow: auto;
  text-align: right;
}

nav ul {
  padding: 0;
  margin: 0;
  height: 150px;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  line-height: 150px;
}

nav a {
  color: #fafafa;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  padding-left: 80px;
}

/* when the browser gets too small for navbar links to render
side-by-side, this will display them vertically */
@media only screen and (max-width: 1100px) {
  header {
    height: fit-content;
    padding-bottom: 20px;
  }

  header img {
    float: none;
    display: block;
    margin: 0 auto;
  }

  nav ul {
    text-align: center;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  nav ul li {
    display: block;
    line-height: 1.8rem;
    padding: 10px 0;
  }
}

/* -------------------------------------------------------------------------- */
/*                                    hero                                    */
/* -------------------------------------------------------------------------- */

.hero {
  background-color: #eceff1;
  margin: 0px;
  padding: 40px;
}

.hero-content {
  margin: auto calc(15% - 50px);
  overflow: auto;
}

.hero h1 {
  margin: 0px;
  padding-top: 20px;
}

.hero img {
  float: right;
  padding-left: 40px;
  width: 60%;
  height: auto;
}

.hero button {
  margin-top: 40px;
}

/* when the browser gets too small for proper side-by-side image display,
this will display the image normally above the header */
@media only screen and (max-width: 1100px) {
  .hero img {
    padding: 0;
    float: none;
    width: 100%;
    height: auto;
  }
}

/* -------------------------------------------------------------------------- */
/*                                  projects                                  */
/* -------------------------------------------------------------------------- */

.projects {
  background-color: #fafafa;
  padding: 40px 40px 80px 40px;
}

.projects-content {
  margin: auto calc(15% - 50px);
  overflow: auto;
}

.projects h2 {
  padding-top: 40px;
}

.projects h3 {
  margin: 10px 0;
}

/* ---------------------------------- cards --------------------------------- */

article {
  display: inline-block;
  width: 30%;
  font-size: 1.6rem;
  text-align: left;
}

article img {
  width: 100%;
  height: auto;
}

/* css trickery to get equidistant spacing between inline-block elements */
.article-container {
  text-align: justify;
  font-size: 0;
}

.article-container::after {
  content: "";
  width: 100%;
  display: inline-block;
}

/* -------------------------------------------------------------------------- */
/*                                  prefooter                                 */
/* -------------------------------------------------------------------------- */

.prefooter {
  background-color: #455a64;
  padding: 60px;
  color: #fafafa;
}

.prefooter-content {
  margin: auto calc(15% - 50px);
  overflow: auto;
}

.prefooter ul {
  padding: 0;
  list-style-type: none;
}

.prefooter h2 {
  font-size: 2.4rem;
}

.prefooter h3 {
  font-size: 1.6rem;
}

/* ---------------------------------- news ---------------------------------- */

.news {
  float: left;
  width: 25%;
  padding-right: 20px;
}

.news li h3 {
  margin-top: 30px;
  margin-bottom: 0;
}

.news li p {
  margin: 0;
}

.news li a {
  color: #fafafa;
  text-decoration: none;
}

/* ---------------------------------- about --------------------------------- */

.about {
  float: left;
  width: 60%;
}

.about p {
  padding-right: 100px;
}

/* --------------------------------- follow --------------------------------- */

.follow {
  float: right;
  width: 15%;
}

.follow li {
  padding: 10px 0;
}

.follow li a {
  color: #fafafa;
  text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */

footer {
  color: #455a64;
  text-align: center;
  padding: 30px 0;
}
